.box {
    width: fit-content;
    max-width: calc(100% + 5%);
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > *:not(:last-child) {
        margin-bottom: 10px;
    }
}